body{
    background-color: brown;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#titolo {
    width: 80%;
    display: flex;
    text-align: left;
    font-size: 4rem;
}

#add {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
}
#add:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#bacheca {
    width: 80%;
    height: 80%;
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 1.5rem;;
}

.nota {
    border: 2px solid black;
    border-radius: 5px;
    max-height: 30%;
    padding: 0.5rem;
}
.nota .nome_nota{
    width: 70%;
    font-size: 1.5rem;
}
.nota .edit{
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.nota button {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
}
.nota button:hover {
    cursor: pointer;
    transform: scale(1.15);
}